<?xml version='1.0'?>
<robot xmlns:xacro='http://www.ros.org/wiki/xacro'>

<xacro:macro name='wheel' params='name parent_link *origin *axis'>

    <xacro:property name='wheel_link_name'  value='${name}_wheel'/>
    <xacro:property name='wheel_joint_name' value='${wheel_link_name}_joint'/>

    <xacro:property name='material_block'>
        <xacro:insert_block name='material_black'/>
    </xacro:property>

    <joint name='${wheel_joint_name}' type='continuous'>
        <parent link='${parent_link}'/>
        <child link='${wheel_link_name}'/>
        <xacro:insert_block name='origin'/>
        <xacro:insert_block name='axis'/>
        <dynamics damping="0.1" friction="0.2"/>
    </joint>

    <link name='${wheel_link_name}'>
        <visual>
            <origin xyz='0 0 0'/>
            <geometry>
                <cylinder length='${wheel_width}' radius='${wheel_radius}'/>
            </geometry>
            <xacro:insert_block name='material_block'/>
        </visual>
        <collision>
            <origin xyz='0 0 0'/>
            <geometry>
                <cylinder length='${wheel_width}' radius='${wheel_radius}'/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass='${wheel_mass}' radius='${wheel_radius}' length='${wheel_width}'/>
    </link>

    <xacro:if value="${is_sim == True}">
        <ros2_control name='${wheel_joint_name}' type='system'>
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            <joint name='${wheel_joint_name}'>
                <command_interface name='velocity'/>
                <state_interface name='position'/>
            </joint>
        </ros2_control>

        <gazebo reference='${wheel_link_name}'>
            <mu1 value="1.0"/>
            <mu2 value="1.0"/>
            <kp value="1.0"/>
            <kd value="1.0"/>
            <fdir1 value="1 0 0"/>

            <collision name="${wheel_link_name}_collision">
                <surface>
                    <friction>
                        <torsional>
                            <coefficient>0.0</coefficient>
                        </torsional>
                    </friction>
                </surface>
            </collision>
            
        </gazebo>
    </xacro:if>

</xacro:macro>   
</robot>