<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rushbott">

    <xacro:include filename="materials.xacro" />
    <xacro:include filename="wheel.xacro" />

    <!-- world link, acts as an anchor point which everything moves around --> 
    <link name="world"></link>   

    <!-- base link, this is the body of our robot --> 

    <joint name="base_joint" type="fixed">
        <origin xyz="1 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link = "base_link"/>
    </joint>

    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 2" />
            </geometry>
            <material name="blue" />
    </link>

    <!-- wheel link --> 

    <joint>
    </joint>
    
    <xacro:wheel link_name="FL_wheel">
        <origin xyz="0 0 0 0" rpy="0 0 0 0" />
    </xacro:wheel>

</robot>

